<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.dev.ehnyn.dietapp">

   <!-- <meta-data
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:value"
        android:name="android.support.VERSION"
        android:value="26.1.0" />-->

    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/diet_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:theme = "@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DashboardActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:theme = "@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.FormActivity"
            android:label="@string/app_name"
            android:theme = "@style/AppTheme">

        </activity>

        <activity
            android:name=".activities.UserDetailsActivity"
            android:label="@string/app_name"
            android:theme = "@style/AppTheme">
        </activity>

        <activity
            android:name=".activities.SummaryActivity"
            android:label="@string/app_name"
            android:theme = "@style/AppTheme">
        </activity>

    </application>
</manifest>